POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gridlock
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Harsh@0409

SOURCE_CSV=data/jan to may police violation_anonymized791b166.csv
OUTPUT_DIR=outputs
